build*
preprocessing/build*
__pycache__
*__init__.py
*.csv
BioTrackerAnalysis
*.dll

GeneratedFiles/
CMakeLists.txt.user
desktop.ini
*.swp
*.opensdf
*.sdf
*.suo
*.exe
*.psess
*.vsp
*.ipch
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.vspscc
.gitignore.swp
*.bak_*
BioTracker.apparmor
CMakeLists.txt.user.3.2-pre1
manifest.json

# ignore editor ~ files
.tags*
Doxyfile
CMakeCache.txt
Makefile
cmake_install.cmake
doxygen_sqlite3.db
*~
.idea/

/CMakeFiles
/doc
/html
/Debug
/Release
/build*
/Build*
*.kate-swp

# astyle original files
*.orig
*.user
*.obj
*.dll
*.qm
*.avi
*moc_*
*.tlog
*.log
*.ilk
*.lib
*.lastbuildstate
*.stamp
*.depend
*.pdb
*.exp
*.db
*.opendb
CMakeFiles
*.cache
*.csv
